{% extends "base.html" %}

{% block title %}
    Join Slack
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="form-container">
            <div class="card">
                <div class="card-body">
                        <h3>Hey Pythonista!</h3><hr/>
                        <p>Slack is where work flows. It's where the people you need,
                         the information you share, and the tools you use come together to get things done. We operate on Slack,
                         unfortunately the API doesn't offer multiple invites. Just send us your email and you'll get the invite straight to your inbox.</p>
                        <form role="form" action="" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit">Submit</button><hr/>
                        </form>
                        
                </div>
            </div>
           

        </div>

    </div>
{% endblock %}