{% extends "base.html" %}

{% block title %}
    Success
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="form-container">
            <div class="card">
                <div class="card-body">
                        <h3>Success!</h3><hr/>
                        
                        <p>Woohoo! You're now officially a member of the HIT Pythoneers.Now head on to 
                        your mailbox and aceept the invitation to join our workspace. Happy Pythoning!</p>

                </div>
            </div>
           

        </div>

    </div>
{% endblock %}