{% extends "base.html" %}

{% block title %}
    About us
{% endblock %}

{% block content %}
    
    <div class="content-container">
        <div class="content-about" >
            <div class="card">
                <div class="card-body">
                    <h1><strong>"Us"</strong></h1><hr/>
                        <p>I'm super psyched that you're interested. Python is a user-friendly programming language that is easy to learn
                            (and teach as well!), and in the recent years, people in different industrial fields have been 
                            implementing Python more and more. The language's popularity is growing globally, and we don't want to 
                            be left out.Python is also well known for it's vibrant communities everywhere, strangers with same 
                            interests coming together to help each other develop their skills and network. Oh wow, that 
                            is exactly what we are doing:)
                            </p><br/>
                            <p>
                                The purpose of the club is to foster the growing culture of Python learning and 
                                development within the community of Harare Institute of Technology and to encourage 
                                members to seek out opportunities to expand their knowledge, develop and improve their 
                                skills in the programming language. Being deliberate in a community helps us all bring each other
                                up from all aspects, and somehow we hope everyone reaches their milestones from participation.
                            </p><br/>
                            <p>
                                
                                As we move from one stage to another in the tech world, we realize how much team work matters. 
                                We are not here to compete(We'll do that at hackathons!), but to 
                                engage in team projects where club members create something tangible or 
                                rather a working prototype. Together, we learn how to interact contractually and to integrate our
                                different efforts to perform a task.
                                Team work achievements are always better, trust me.
                            </p><br/>
                            <p>
                        
                                The best thing about Python is that you are always learning, gaining knowledge has never been more
                                fun. At HIT Python Developers we help each other to
                                learn and understand the Python programming language from the basics through short
                                meetings,coding sprints,hallenges, workshops and team projects.  No pre-requisites required to start Pythoning,
                                just passion!
                            </p><br/>
                            <p>
                        
                                It's a long way until one becomes a full stack developer, it takes years of practice and experience.
                                And we are not saying we'll get you there in 2 months(I wish), but at least we'll get you started
                                on that, you do the rest of the work. Hence we aim to
                                develop diverse and extensive software development skills to design, develop, 
                                implement, test, document and deliver solutions to real world problems. That is why we are here
                                after all, to solve problems(not just drink coffee).

                            </p><br/>
                            <p>
                        
                                Last but not least, we want to network with other groups, employers and sponsors in the same field and create job 
                                opportunities for club members. It's good to be a Pythonista knowing you have a lot of people
                                to turn to and we achieve this by attending meet-ups, conferences, Indabas, workshops and coding
                                bootcamps. This will not only boost your confidence, but also help you make new friends.
                            </p><br/><hr/>
                            <h4>Like what you just saw?</h4>
                            <a href="{% url 'member_slack' %}"><button class="button">Join the club!</button></a><br/><br/>


                </div>
            </div>
            
        </div>
    </div>
    
{% endblock %}