{% extends "base.html" %}

{% block title %}
    HIT Python Developers
{% endblock %}

{% block content %}
    <div class="content-container">
        <div class="fixed">

            <h4>Beautiful is better than ugly.
                    -Tim Peters(Zen of Python)</h4><br/><hr/>
                    
            <img src="static/img/logo.png" alt="logo">
        

        </div>
        
        <div class="fixed-right">
            <div class="card">
                    <div class="card-body">
                        <h1>print('Hello world!')</h1>
                        <p>Welcome to HIT Python Developers.Let's get pythoning...</p>
                        <a href="{% url 'member_slack' %}"><button class="button">Join the club!</button></a><br/><br/><hr/>
                        <h2>Who are we?</h2>
                        <p>Glad you asked:).HIT Python Developers is a group of Python enthusiasts based
                            at Harare Institute of Technology. Our aim is to to foster the growing culture of Python learning and 
                            development within the community and to encourage 
                            members to seek out opportunities to expand their knowledge, develop and improve their 
                            skills in the programming language. 
                        </p>
                        <a href="{% url 'website_about' %}"><button class="button">Learn more.</button></a><hr/>
                        <h2>What we stand for</h2>
                        <p>Check the statistics, Python is booming and more and more people are getting involved
                            in the global Python community. I mean who wouldn't want to be present for such historic 
                            tech moments. The growth of Python is an attraction to all of us, and we want you to be part
                            of the Pythoneers:). Read more about Python on our blog.
                        </p>
                        <a href="{% url 'blog_home' %}"><button class="button">Visit our blog.</button></a><br/><br/><hr/>
                        <h2>Get in touch</h2>
                        <p>You're sold yet? Yes, we are quite a catch. So head on to our social media pages and give
                            us a shout out. Whatever you need, we got you. Don't forget to tell your friends, there's room 
                            for everyone!
                        </p>
                        
                        
                    </div>
                  </div>
            </div>
            
            

        </div>
    </div>
   
    
        
        
{% endblock %}